*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
overflow:hidden;
background:black;
}

canvas{
display:block;
background:#444;
}

#hud{
position:absolute;
top:10px;
left:10px;
color:white;
font-size:20px;
z-index:100;
}

#hud div{
margin-bottom:5px;
}
